n8n-workflow.json
{
  "name": "Creative Tracker — Meta Ads Daily Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/act_YOUR_AD_ACCOUNT_ID/ads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,name,adset{campaign{name}}" },
            { "name": "limit", "value": "500" },
            { "name": "access_token", "value": "YOUR_META_ACCESS_TOKEN" }
          ]
        },
        "options": {}
      },
      "name": "Get All Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/act_YOUR_AD_ACCOUNT_ID/insights",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "ad_id,ad_name,spend,actions,action_values,impressions,clicks,video_thruplay_watched_actions" },
            { "name": "level", "value": "ad" },
            { "name": "date_preset", "value": "yesterday" },
            { "name": "breakdowns", "value": "country" },
            { "name": "limit", "value": "500" },
            { "name": "access_token", "value": "YOUR_META_ACCESS_TOKEN" }
          ]
        },
        "options": {}
      },
      "name": "Get Insights (yesterday)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Map country codes to your markets\nconst MARKET_MAP = { NL: 'NL', FR: 'FR', DE: 'DE', ES: 'ES', IT: 'IT' };\n\n// Determine campaign type from campaign name\nfunction getCampaignType(campaignName = '') {\n  const n = campaignName.toLowerCase();\n  if (n.includes('cbo') || n.includes('scaling')) return 'CBO';\n  if (n.includes('abo') || n.includes('test')) return 'ABO';\n  return 'ABO'; // default\n}\n\nfunction getMetric(actions, actionType) {\n  if (!actions) return 0;\n  const a = actions.find(x => x.action_type === actionType);\n  return a ? parseFloat(a.value) : 0;\n}\n\nconst insights = $input.all();\nconst records = [];\n\nfor (const item of insights) {\n  const data = item.json;\n  const rows = Array.isArray(data.data) ? data.data : [data];\n  \n  for (const row of rows) {\n    const country = (row.country || '').toUpperCase();\n    const market = MARKET_MAP[country];\n    if (!market) continue; // skip markets we don't track\n    \n    const spend = parseFloat(row.spend || 0);\n    const revenue = getMetric(row.action_values, 'offsite_conversion.fb_pixel_purchase');\n    const conversions = getMetric(row.actions, 'offsite_conversion.fb_pixel_purchase');\n    const impressions = parseInt(row.impressions || 0);\n    const clicks = parseInt(row.clicks || 0);\n    \n    // Thumbstop = 3s video views / impressions\n    const threeSecViews = getMetric(row.video_thruplay_watched_actions, 'video_view');\n    const thumbstop = impressions > 0 ? threeSecViews / impressions : null;\n    \n    records.push({\n      meta_ad_id: row.ad_id,\n      market,\n      campaign_type: getCampaignType(row.campaign_name),\n      date: row.date_stop, // yesterday's date\n      spend,\n      revenue,\n      conversions,\n      impressions,\n      clicks,\n      thumbstop_rate: thumbstop,\n    });\n  }\n}\n\nreturn [{ json: { records } }];"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://YOUR_VERCEL_APP.vercel.app/api/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "YOUR_WEBHOOK_SECRET" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "records", "value": "={{ $json.records }}" }
          ]
        },
        "options": {}
      },
      "name": "Push to Creative Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get All Ads", "type": "main", "index": 0 }]]
    },
    "Get All Ads": {
      "main": [[{ "node": "Get Insights (yesterday)", "type": "main", "index": 0 }]]
    },
    "Get Insights (yesterday)": {
      "main": [[{ "node": "Transform Data", "type": "main", "index": 0 }]]
    },
    "Transform Data": {
      "main": [[{ "node": "Push to Creative Tracker", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
